*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    scroll-behavior: smooth;
}
/*? Div-Info */
#info{
    background-color: #185510;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

#info p{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 12pt;
}
/*? Menu */
.menu-header{
    display: block;
    background-color: #41901C;
}

.menu-header .menu-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-logo img{
    width: 200px;
    height: 150px;
}

.menu-principal{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.menu-nav{
    max-width: 100%;
    display: block;
    background-color: #87D936;
}

.menu-nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-nav li{
    border: 1px  solid #87D936;
    padding: 8px 15px 8px 15px;
}

.menu-nav i{
    margin-right: 5px;
}

.menu-nav a, .menu-nav i{
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
}

.menu-nav li:hover{
    border: 1px solid #185510;
    background-color: #185510;
    transition: 1s;
}

.menu-nav .active, .menu-nav .active a, .menu-nav .active i{
    border: 1px solid #185510;
    background-color: #185510;
    color: #D9B855;
}

/*? Conteúdo Inicial */
.conteudo-principal.inicio{
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 10px 40px 10px;
}

.conteudo-principal.inicio h1{
    font-size: 2.5rem;
}

.conteudo-principal.inicio .projeto h1::before{
    content: "";
    border-left: 7px solid #185510;
    margin-right: 10px;
}

.conteudo-principal.inicio .beneficios h1::before{
    content: "";
    border-left: 7px solid #41901C;
    margin-right: 10px;
}

.conteudo-principal.inicio .equipe h1::before{
    content: "";
    border-left: 7px solid #87D936;
    margin-right: 10px;
}

.conteudo-principal.inicio .parcerias h1::before{
    content: "";
    border-left: 7px solid #D9B855;
    margin-right: 10px;
}

.conteudo-principal.inicio .projeto, .conteudo-principal.inicio .beneficios, .conteudo-principal.inicio .equipe{
    border-bottom: 2.5px solid #F2E7AE;
}

/*? Conteúdo Inicial - Seção de Projeto */

/*? Conteúdo Inicial - Seção de Benefícios */

/*? Conteúdo Inicial - Seção de Equipe */
.equipe .card-container{
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 235px);
    margin: 0 auto;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.equipe .card-participante{
    margin: 0;
    max-width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #a78c3b;
    font-weight: bold;
    background-color: #F2E7AE;
    text-shadow: 0 1px 1.5px;
    border-radius: 15px;
}

.equipe .card-participante img{
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 280px;
}

/*? Conteúdo Inicial - Seção de Parcerias */
.parceiros{
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
    line-break: 20px;
}

.parceiros .fatec-osasco a, .parceiros .cps a{
    text-decoration: none;
}

.parcerias p{
    font-style: italic;
    color: #1b1b1b60;
}

figure.fatec-osasco, figure.cps{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure.fatec-osasco img, figure.cps img{
    max-width: 280px;
    height: 150px;
    border-radius: 15px;
}

/*? Conteúdo Ciclo do Óleo */

/*? Conteúdo Pontos de Coleta */

/*? Conteúdo Contato */

/*? Footer */
footer{
    display: flex;
    background-color: #87D936;
    height: 100px;
    align-items: center;
}

footer p{
    font-size: 1.4rem;
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: #185510;
}

/*? Botão de voltar ao topo*/
#btn-topo{
    display: block;
    width: 40px;
    height: 40px;
    padding: 9px;
    border: 3px solid #185510;
    border-radius: 20px;
    background-color: #185510;
    position: fixed;
    cursor: pointer;
    color: white;
    right: 15px;
    bottom: 15px;
}

#btn-topo i{
    font-size: 1.1rem;
    font-weight: bold;
}

#btn-topo:hover{
    background-color: white;
    color: green;
    border-color: 1px solid #fff;
    transition: .8s;
}