*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    scroll-behavior: smooth;
}
/*? Div-Info */
#info{
    background-color: #185510;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

#info p{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 12pt;
}
/*? Menu */
.menu-header{
    display: block;
    background-color: #41901C;
}

.menu-header .menu-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-logo img{
    max-width: 320px;
    height: 150px;
}

.menu-principal{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.menu-nav{
    max-width: 100%;
    display: block;
    background-color: #87D936;
}

.menu-nav .fixo{
    top: 0;
    position: fixed;
    max-width: 100%;
}

.menu-nav .fixo + .conteudo-principal{
    padding-top: 60px;
}

.menu-nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-nav li{
    border: 1px  solid #87D936;
    padding: 8px 15px 8px 15px;
}

.menu-nav i{
    margin-right: 5px;
}

.menu-nav a, .menu-nav i{
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
}

.menu-nav li:hover{
    border: 1px solid #185510;
    background-color: #185510;
    transition: 1s;
}

.menu-nav .active, .menu-nav .active a, .menu-nav .active i{
    border: 1px solid #185510;
    background-color: #185510;
    color: #D9B855;
}

/*? Conteúdo Principal */
.conteudo-principal.inicio, .conteudo-principal.ciclo-do-oleo, .conteudo-principal.pontos-coleta, .conteudo-principal.contato{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 10px 40px 10px;
}

.conteudo-principal.inicio h1, .conteudo-principal.ciclo-do-oleo h1, .conteudo-principal.contato h1{
    font-size: 2.5rem;
}

.conteudo-principal.inicio .projeto h1::before, .conteudo-principal.ciclo-do-oleo .ciclo-oleo h1::before{
    content: "";
    border-left: 7px solid #185510;
    margin-right: 10px;
}

.conteudo-principal.inicio .beneficios h1::before, .conteudo-principal.ciclo-do-oleo .descarte-oleo h1::before{
    content: "";
    border-left: 7px solid #41901C;
    margin-right: 10px;
}

.conteudo-principal.inicio .equipe h1::before, .conteudo-principal.ciclo-do-oleo .produtos-reciclagem h1::before{
    content: "";
    border-left: 7px solid #87D936;
    margin-right: 10px;
}

.conteudo-principal.inicio .parcerias h1::before, .conteudo-principal.ciclo-do-oleo .reciclagem-caseira h1::before{
    content: "";
    border-left: 7px solid #D9B855;
    margin-right: 10px;
}

.conteudo-principal.inicio .projeto, .conteudo-principal.inicio .beneficios, .conteudo-principal.inicio .equipe,
.conteudo-principal.ciclo-do-oleo .ciclo-oleo, .conteudo-principal.ciclo-do-oleo .descarte-oleo, 
.conteudo-principal.ciclo-do-oleo .produtos-reciclagem{
    border-bottom: 3px solid #F2E7AE;
}

/*? Conteúdo Inicial - Seção de Projeto */
.conteudo-principal.inicio .projeto h1{
    color: #185510;
}


/*? Conteúdo Inicial - Seção de Benefícios */
.conteudo-principal.inicio .beneficios h1{
    color: #41901C;
}
/*? Conteúdo Inicial - Seção de Equipe */
.conteudo-principal.inicio .equipe h1{
    color: #87D936;
}

.equipe .card-container{
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 235px);
    margin: 0 auto;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.equipe .card-participante{
    margin: 0;
    max-width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #a78c3b;
    font-weight: bold;
    background-color: #F2E7AE;
    text-shadow: 0 1px 1.5px;
    border-radius: 15px;
}

.equipe .card-participante img{
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 280px;
}

/*? Conteúdo Inicial - Seção de Parcerias */
.conteudo-principal.inicio .parcerias h1{
    color: #D9B855;
}

.parceiros{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.parceiros .fatec-osasco a, .parceiros .cps a{
    text-decoration: none;
}

.parcerias p{
    font-style: italic;
    color: #1b1b1b60;
}

figure.fatec-osasco, figure.cps{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure.fatec-osasco img, figure.cps img{
    max-width: 280px;
    height: 150px;
}

/*? Conteúdo Ciclo do Óleo */

/*? Conteúdo Pontos de Coleta */

/*? Conteúdo Contato */
section.contato{
    box-sizing: border-box;
}

section.contato h1::before{
    content: "";
    border-left: 7px solid #185510;
    margin-right: 10px;
}

.container-contato{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
}

.container-contato hr{
    height: 50vh;
    border: 1px solid #F2E7AE;
}

.container-contato .msg-contato, .container-contato .form-contato{
    margin: 0 auto;
    font-size: 1.3rem;
}

.container-contato .msg-contato{
    max-width: 400px;
}

.container-contato .msg-contato b{
    color: #D9B855;
    text-shadow: 1px 0 1px;
} 

.container-contato .form-contato{
    line-height: 45px;
    top: -5px;
}

.form-contato label{
    margin: 0;
}

.form-contato input[type="text"], .form-contato input[type="email"], .form-contato textarea{
    border-radius: 5px;
    border: 2px solid #D9B855;
    padding: 10px 10px 10px;
    width: 480px;
    font-size: 1.2rem;
    font-weight: bold;
}

.form-contato input[type="text"]::placeholder, .form-contato input[type="email"]::placeholder, .form-contato textarea{
    font-weight: bold;
    margin: 0;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.form-contato .btn-form{
    margin-top: 25px;   
    background-color: #185510;
    color: white;
    border-radius: 5px;
    border: 3px solid #185510;
    font-weight: bold;
    text-transform: uppercase;
    padding: 11px 25px 11px 25px;
    cursor: pointer;
}

.form-contato .btn-form.limpar{
    margin-left: 15px;
    background-color: #fff;
    color: #185510;
}

.form-contato .btn-form:hover{
    color: #185510;
    background-color: #fff;
    transition: all ease-in-out .8s;
}

.form-contato .btn-form.limpar:hover{
    color: #fff;
    background-color: #185510;
    transition: all ease-in-out .8s;
}

.msg-erro{
    margin: 0 auto; 
    display: none;
    color: rgb(206, 33, 33);
}

/*#msg-process-form{
    display: none;
    color: #fff;
    background-color: #099b4b;
    border-radius: 5px;
    padding-left: 15px;
}*/

#msg-process-form{
    display: none;
    color: #fff;
    background-color: rgb(206, 33, 33);
    border-radius: 5px;
    padding-left: 15px;
}

#msg-process-form.sucess{
    display: none;
    color: #fff;
    background-color: #099b4b;
    border-radius: 5px;
    padding-left: 15px;
}
/*? Footer */
footer{
    display: flex;
    background-color: #87D936;
    height: 100px;
    align-items: center;
}

footer p{
    font-size: 1.4rem;
    flex: 1;
    text-align: center;
    font-weight: bold;
    color: #185510;
}

/*? Botão de voltar ao topo*/
#btn-topo{
    display: none;
    width: 40px;
    height: 40px;
    padding: 9px;
    border: 3px solid #185510;
    border-radius: 20px;
    background-color: #185510;
    position: fixed;
    cursor: pointer;
    color: white;
    right: 25px;
    bottom: 25px;
    transition: right .7s;
}

#btn-topo i{
    font-size: 1.1rem;
    font-weight: bold;
}

#btn-topo:hover{
    background-color: white;
    color: green;
    border-color: 1px solid #fff;
    transition: .8s;
}